<a href="https://colab.research.google.com/github/chandt99/RDeconomist.github.io/blob/main/chess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
table_list=pd.read_html('/content/chess_table.html')

In [7]:
table_list[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   #       102 non-null    int64
 1   Name    102 non-null    object
 2   Fed     102 non-null    object
 3   Rating  102 non-null    int64
 4   +-      0 non-null      float64
 5   B-Year  102 non-null    int64
 6   Avg12M  101 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 5.7+ KB

In [14]:
table_list[0]['Avg12M'].str.split(' ').str[0].astype(float)

0      2862.0
1      2803.0
2      2778.0
3      2793.0
4      2773.0
        ...
97     2652.0
98     2644.0
99     2630.0
100    2635.0
101    2656.0
Name: Avg12M, Length: 102, dtype: float64

In [15]:
chess_df=table_list[0]

In [17]:
chess_df['Rating last year']=chess_df['Avg12M'].str.split(' ').str[0].astype(float)

In [18]:
chess_df

,#,Name,Fed,Rating,+-,B-Year,Avg12M,Rating last year
0,1,"Carlsen, Magnus",NOR,2856,NaN,1990,2862 (1),2862.0
1,2,"Ding, Liren",CHN,2811,NaN,1992,2803 (2),2803.0
2,3,"Nepomniachtchi, Ian",RUS,2793,NaN,1990,2778 (5),2778.0
3,4,"Firouzja, Alireza",FRA,2785,NaN,2003,2793 (3),2793.0
4,5,"So, Wesley",USA,2774,NaN,1993,2773 (7),2773.0
...,...,...,...,...,...,...,...,...
97,98,"Bluebaum, Matthias",GER,2647,NaN,1997,2652 (91),2652.0
98,99,"Bacrot, Etienne",FRA,2646,NaN,1983,2644 (105),2644.0
99,100,"Donchenko, Alexander",GER,2646,NaN,1998,2630 (130),2630.0
100,101,"Abasov, Nijat",AZE,2646,NaN,1995,2635 (120),2635.0
101,102,"Mamedov, Rauf",AZE,2646,NaN,1988,2656 (86),2656.0